/* Empty. Add your own CSS if you like */
body,html{
    font-size: 1em;
    font-family:  "Microsoft JhengHei" !important;
}
#zipcode {
    font-size: 1.1em;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}
.county-style {
    width:100%;
    font-size: 1.1em;
}
.district-style {
    width:100%;
    font-size: 1.1em;
}
.street-style{
    width:100%;
    font-size: 1.1em;
    text-align: center;
    margin-top:.5em;
}
.info{
    text-align: left;
    margin:1em;
    font-weight: bold;
    color: #387ef5;
    line-height: 1.5em;
}