<ion-view title="登入">
    <ion-nav-bar class="bar bar-balanced">
    </ion-nav-bar>
    <ion-content scroll="false">
        <form name="loginForm" novalidate>
            <label class="item item-input">
                <span class="input-label">帳號</span>
                <input type="text" ng-model="username" name="username" required>
            </label>
            <div ng-messages="loginForm.username.$error" role="alert" ng-if="loginForm.username.$touched">
                <div ng-message="required">沒輸入帳號唷!</div>
            </div>
            <label class="item item-input">
                <span class="input-label">密碼</span>
                <input type="password" ng-model="password" name="password" required>
            </label>
            <div ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.password.$touched">
                <div ng-message="required">沒輸入密碼唷!</div>
            </div>
            <div class="padding">
                <button class="button button-block button-calm icon-left ion-log-in" ng-click="logon(username,password)">登入</button>
            </div>
        </form>
    </ion-content>
</ion-view>