<ion-view title="老外&貝貝的婚禮">
    <ion-content class="wdBody">
        <div class="row">
        <div class="col col-25 wdSide"></div>
        <div class="col wdContent">
            <div class="item-image">
                <img src="//i.imgur.com/oFlLumD.png" style="width: 75%;height: 75%">
            </div>
            <div class="padding info">
                Dears,<br>
                我們將在11/7(六)中午舉辦婚禮宴客,
                希望大家能共襄盛舉,所以要麻煩填個問卷,感謝^^
            </div>
            <form name="wdInfoForm" novalidate>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">大名：</span>
                    <input type="text" placeholder="丁丁" ng-model="weddingInfo.Name" name="Name" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">手機：</span>
                    <input type="tel" placeholder="0912345678" ng-model="weddingInfo.Phone" name="Phone" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">哪一個陣營？</span>
                    <ion-radio style="border:0;" ng-model="weddingInfo.Group" name="Group" ng-value="'男方親友'">男方親友
                    </ion-radio>
                    <ion-radio style="border:0;" ng-model="weddingInfo.Group" name="Group" ng-value="'女方親友'">女方親友
                    </ion-radio>
                </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">
                    參加人數：
                </span>
                    <ion-radio style="border:0;" ng-model="weddingInfo.Attendance" ng-value="1"
                               ng-change="checkAttendance(weddingInfo.Attendance)" name="Attendance">
                        自己<i class="ion-android-person"></i></ion-radio>
                    <ion-radio style="border:0;" id="couple" ng-model="weddingInfo.Attendance" ng-value="2"
                               ng-change="checkAttendance(weddingInfo.Attendance)" name="Attendance">
                        攜伴<i class="ion-android-people"></i></ion-radio>
                    <ion-radio style="border:0;" ng-model="weddingInfo.Attendance" ng-value="3"
                               ng-change="checkAttendance(weddingInfo.Attendance)" name="Attendance">
                        攜家帶眷<i class="ion-ios-people"></i></ion-radio>
                </label>

                <div id="twzipcode" class="item">
                    <div class="row">
                        <span class="input-label">紅色炸彈接收位置：</span>
                    </div>

                    <div class="row">
                        <div data-role="zipcode"
                             data-name="zipcode"
                             data-value=""
                             data-style="zipcode-style" class="col col-20">
                        </div>
                        <div data-role="county"
                             data-name="county"
                             data-value="縣市"
                             data-style="county-style" class="col col-34">
                        </div>
                        <div data-role="district"
                             data-name="district"
                             data-value="鄉鎮市區"
                             data-style="district-style" class="col">
                        </div>
                    </div>
                    <div class="row">
                        <textarea placeholder="請填入您的地址,不然就收不到啦!" class="street-style" ng-model="weddingInfo.Address"
                                  name="Address" rows="2"></textarea>
                    </div>
                </div>

                <label class="item item-input item-stacked-label">
                <span class="input-label">
                    備註：
                </span>
                    <textarea placeholder="(P.S.是否吃素或者留一些話給我們吧!或許會有意想不到的驚喜唷)" ng-model="weddingInfo.ThanksMemo" name="ThanksMemo"></textarea>
                </label>

                <div class="padding">
                    <button class="button button-block button-calm" ng-click="sendData(weddingInfo)">送出</button>
                </div>
                <br>
            </form>
        </div>
        <div class="col col-25 wdSide"></div>
        </div>
    </ion-content>
</ion-view>
